html,
body {
    max-width: 100%;
    height: 100%;
    min-height: 100%;
}

body {
    text-decoration: none;
    color: black;
    font-family: 'Adelle', Arial, sans-serif;
    font-weight: normal;
    min-height: 100%;
    background-size: 100% auto;
}

h1,
h2,
h3,
h4,
.btn-primary,
.btn-secondary,
.navbar-brand {
    font-family: 'Dinot', Arial, sans-serif;
    font-weight: normal;
}

h1 {
    font-weight: bold;
    font-size: 5em;
}

h2 {
    font-weight: normal;
    font-size: 4em;
}

p {
    font-weight: normal;
}

a {
    color: $ct-links;
}

a:hover {
    color: $ct-links-hover;
    text-decoration: none;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 10rem rgba(0, 0, 0, .5);
    background-color: #fff;
    background: url("../img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}


/* Padding for spacing */

.inner {
    padding: 2rem;
}

.jumbotron {
    text-align: center;
    border-radius: 0;
    background: none;
    max-width: 100%;
    padding: 0;
    .container {
        padding: 1rem;
    }
    h1,
    h2,
    p {
        padding: .1rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    h1 {
        font-weight: bold;
        color: white;
    }
    p {
        color: black;
    }
}

.main {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
    text-align: center;
    .img-fluid {
        display: -webkit-inline-box;
    }
    .row {
        padding-bottom: 15px;
    }
    h1 {
        padding-bottom: 3rem;
        padding-top: 3rem;
        font-size: 5em;
    }
    h2 {
        font-size: 4em;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
    a.btn.btn-secondary {
        margin-right: .25em;
        width: 25%;
    }
}

.card {
    padding: 1.5rem;
    border: 0;
    text-align: center;
    margin-bottom: 1.5em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    &.black-background {
        background-color: black;
        color: white;
    }
    .card>img {
        margin-bottom: .75rem
    }
    p.card-text {
        font-size: 1.5em;
        padding: 1em;
    }
}

.dinot,
.adelle {
    a.btn.btn-secondary {
        margin: 1em 0 1em 0;
        width: 75%;
    }
}

.dinot {
    .din-light {
        font-weight: 300;
    }
    .din-medium {
        font-weight: 500;
    }
    .din-bold {
        font-weight: bold;
    }
}

.adelle {
    h2.card-text,
    a.btn.btn-secondary {
        font-family: 'Adelle', Arial, sans-serif !important;
    }
    .adelle-thin {
        font-weight: 100;
        font-style: normal;
    }
    .adelle-thin-italic {
        font-weight: 100;
        font-style: italic;
    }
    .adelle-light {
        font-weight: 300;
        font-style: normal;
    }
    .adelle-light-italic {
        font-weight: 300;
        font-style: italic;
    }
    .adelle-normal-italic {
        font-weight: normal;
        font-style: italic;
    }
    .adelle-semibold {
        font-weight: 600;
        font-style: normal;
    }
    .adelle-bold {
        font-weight: bold;
        font-style: normal;
    }
    .adelle-heavy {
        font-weight: 900;
        font-style: normal;
    }
}


/** FOOTER */

footer {
    padding: 3rem 0 3rem 0;
    .contact {
        a {
            margin-left: .25rem;
        }
    }
    .col-md-3 {
        padding-top: 2rem;
    }
    h4 {
        color: #333;
        font-family: 'Dinot', Arial, sans-serif;
        font-weight: 300;
    }
    p {
        margin-bottom: .25rem;
    }
}
