.btn-primary {
    background-color: $ct-blue;
    border: .15rem solid $ct-blue;
    color: white;
    &:hover,
    &:active,
    &:focus {
        background-color: white;
        border: .15rem solid $ct-blue;
        color: $ct-blue;
    }
}

.btn-secondary {
    background-color: $ct-yellow;
    border: .15rem solid $ct-yellow;
    color: black;
    &:hover,
    &:active,
    &:focus {
        background-color: white;
        border: .15rem solid $ct-yellow;
        color: $ct-yellow;
    }
}

.btn-primary,
.btn-secondary {
    text-transform: uppercase;
}
