/* Thin */

@font-face {
    font-family: 'Adelle';
    src: url("../fonts/adelle/adelle-thin.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}


/* Thin Italic */

@font-face {
    font-family: 'Adelle';
    src: url("../fonts/adelle/adelle-thin-italic.ttf") format('truetype');
    font-weight: 100;
    font-style: italic;
}


/* Light */

@font-face {
    font-family: 'Adelle';
    src: url("../fonts/adelle/adelle-light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}


/* Light Italic */

@font-face {
    font-family: 'Adelle';
    src: url("../fonts/adelle/adelle-light-italic.ttf") format('truetype');
    font-weight: 300;
    font-style: italic;
}


/* Normal */

@font-face {
    font-family: 'Adelle';
    src: url("../fonts/adelle/adelle.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Normal Italic */

@font-face {
    font-family: 'Adelle';
    src: url("../fonts/adelle/adelle-italic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}


/* Semibold */

@font-face {
    font-family: 'Adelle';
    src: url("../fonts/adelle/adelle-semibold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}


/* Bold */

@font-face {
    font-family: 'Adelle';
    src: url("../fonts/adelle/adelle-bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}


/* Heavy */

@font-face {
    font-family: 'Adelle';
    src: url("../fonts/adelle/adelle-heavy.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}